.verified-artist {
  &--container {
    padding-bottom: 64px;
  }
  &--top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 32px;
  }
  &--title {
    color: #21204a;
    font-size: 32px;
    font-weight: 600;
  }
  &--items {
    width: 100%;
  }
  &--list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 18px);
    gap: 24px;
    height: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    &::-webkit-scrollbar {
      display: none;
    }
    width: 100%;
    & :where(.topartist-item--number) {
      display: none;
    }
    & :where(.topartist-item--name) {
      text-overflow: ellipsis;
      color: #11315b;
      font-weight: 500;
      overflow: hidden;
      white-space: nowrap;
    }

    & :where(.topartist-item--other) {
      font-size: 10px;
      line-height: 16px;
    }
  }
  @media screen and (max-width: 1023px) {
    &--list {
      grid-auto-columns: calc((100% / 2) - 18px);
    }
    &--title {
      font-size: 28px;
    }
  }
  @media screen and (max-width: 767px) {
    &--title {
      font-size: 25px;
    }
    &--top {
      flex-wrap: wrap;
      padding-bottom: 16px;
    }
    &--list {
      grid-auto-columns: 100%;
    }
  }
}
