section.activities 
    .activities-container 
        .activities-top
            .activities-top--title Activities
            .activities-top--select 
                .activities-top--option 
                    .activities-top--text Right now
                    i.fas.fa-chevron-down
        .activities-content 
            include ./filter
            include ./list