section.activities-filter 
    .activities-filter--container 
        .activities-filter--title Filter
        .activities-filter--list 
            .activities-filter--item.item-active All
            .activities-filter--item Listing
            .activities-filter--item Sales
            .activities-filter--item Purchase
            .activities-filter--item Bids
            .activities-filter--item Likes
        .activities-filter--form 
            .activities-filter--search 
                i.fal.fa-search.activities-filter--icon 
                input(type="text", placeholder="Search").activities-filter--input
            button.activities-filter--btn Reset 