section.activities-items 
    +activitiesItem("./images/activities/activities-1.jpg", "Sales", "#4559/4936 was sold for $110.69.", " 27 minutes 10 seconds ago", "Buy now")
    +activitiesItem("./images/activities/activities-2.jpg", "Purchase", "#4559/4936 was sold for $110.69.", " 27 minutes 10 seconds ago", "Buy now")
    +activitiesItem("./images/activities/activities-3.jpg", "Bids", "#4559/4936 was sold for $110.69.", " 27 minutes 10 seconds ago", "Buy now")
    +activitiesItem("./images/activities/activities-4.jpg", "Sales", "#4559/4936 was sold for $110.69.", " 27 minutes 10 seconds ago", "Buy now")
    +activitiesItem("./images/activities/activities-5.jpg", "Likes", "#4559/4936 was sold for $110.69.", " 27 minutes 10 seconds ago", "Buy now")
    +activitiesItem("./images/activities/activities-6.jpg", "Sales", "#4559/4936 was sold for $110.69.", " 27 minutes 10 seconds ago", "Buy now")
    +activitiesItem("./images/activities/activities-1.jpg", "Purchase", "#4559/4936 was sold for $110.69.", " 27 minutes 10 seconds ago", "Buy now")
    +activitiesItem("./images/activities/activities-2.jpg", "Listing", "#4559/4936 was sold for $110.69.", " 27 minutes 10 seconds ago", "Buy now")
    +activitiesItem("./images/activities/activities-3.jpg", "Bids", "#4559/4936 was sold for $110.69.", " 27 minutes 10 seconds ago", "Buy now")
    +activitiesItem("./images/activities/activities-4.jpg", "Purchase", "#4559/4936 was sold for $110.69.", " 27 minutes 10 seconds ago", "Buy now")
    +activitiesItem("./images/activities/activities-5.jpg", "Likes", "#4559/4936 was sold for $110.69.", " 27 minutes 10 seconds ago", "Buy now")
    +activitiesItem("./images/activities/activities-6.jpg", "Listing", "#4559/4936 was sold for $110.69.", " 27 minutes 10 seconds ago", "Buy now")