.container 
    section.error-404 
        .error-404--container 
            .error-404--img 
                img(src="./images/banner/banner-404.jpg")
            .error-404--info    
                .error-404--title 404
                .error-404--text This page is lost.
                .error-404--desc We've explored deep and wide, but we can't find the page you were looking for.
                a(href="index.html").error-404--btn Navigate back home