.collection-banner {
  &--container {
    padding-top: 56px;
  }
  &--bg {
    background: linear-gradient(
        0deg,
        #081320 0%,
        rgba(9, 32, 64, 0.9) 18.23%,
        rgba(4, 39, 84, 0.83) 30.24%,
        rgba(0, 56, 130, 0.69) 52.23%,
        rgba(0, 50, 115, 0) 100%
      ),
      url("../../../images/banner/banner-collection-artist.jpg") 100% 50% /
        cover no-repeat;
    min-height: 150px;
    border-radius: 16px;
    padding: 28px 32px;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
  &--icon {
    text-align: right;
    width: 24px;
    padding: 4px;
    height: 24px;
    background: rgba(177, 177, 179, 0.4);
    border-radius: 20px;
    float: right;
    cursor: pointer;
  }
  &--content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &--img {
    width: 76px;
    height: 76px;
    border: 3px solid white;
    border-radius: 15px;
    & img {
      border-radius: 16px;
      width: 100%;
      height: 100%;
    }
  }
  &--info {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  &--name {
    color: white;
    font-size: 20px;
    font-weight: 600;
  }
  &--someone {
    color: #bdcadb;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 13px;
    & span {
      color: #e9ecf2;
      font-weight: 500;
    }
  }
  &--updated {
    font-size: 12px;
    font-weight: 400;
    color: #bdcadb;
  }
  &--list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 100%;
    background: rgba(177, 177, 179, 0.4);
    border-radius: 16px;
  }
  &--item {
    padding: 12px 27.5px;
    text-align: center;
    color: #e9ecf2;
    &:not(:nth-child(4)) {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 1px;
        background: linear-gradient(transparent, white, transparent);
      }
    }
  }
  &--text {
    font-weight: 500;
  }
  &--desc {
    font-size: 10px;
    font-weight: 400;
  }
}
