section.artist-banner 
    .artist-banner--container 
        .artist-banner--bg 
            img(src="./images/icons/more-vertical.png", alt="").artist-banner--icon
            .artist-banner--content 
                .artist-banner--info 
                    .artist-banner--avatar     
                        img(src="./images/home/trending-4.jpg", alt="").artist-banner--img
                        img(src="./images/icons/check.png", alt="").artist-banner--check
                    .artist-banner--more
                        .artist-banner--name A$AP Rocky <span>Following</span>
                        .artist-banner--someone @0xogpassby0xstudio
                        .artist-banner--followers 
                            .artist-banner--followers--img 
                                img(src="./images/follower-1.jpg", alt="")
                                img(src="./images/follower-2.jpg", alt="")
                                img(src="./images/follower-3.jpg", alt="")
                            .artist-banner--followers--text Followed by trina, gatsby_45 and 1,234 others
                .artist-banner--contact
                    .artist-banner--social twitter: ascac
                    .artist-banner--social insta: @agsastda
                    .artist-banner--address 
                        .artist-banner--text View porfolio
                        i.fal.fa-arrow-up.artist-banner--link