section.artist-filter 
    .artist-filter--container 
        .artist-filter--result 
            .artist-filter--total Total: 
            .artist-filter--number 2,798 Collections
        .artist-filter--options 
            .artist-filter--search 
                i.fal.fa-search 
                input(type="text", placeholder="Search item")
            .artist-filter--blockchain 
                .artist-filter--text All blockchains 
                i.fas.fa-chevron-down
            .artist-filter--sort
                .artist-filter--text 
                    img(src="./images/icons/bar-chart-2.png", alt="")
                    span Sort by 
                .artist-filter--select 
                    span Recent
                    i.fas.fa-chevron-down