section.artist-list--collection
    .artist-list--container  
        .artist-list--list 
            +artistCollectionItem("ROCKY", " by A$AP Rocky", "Thursday, April 22nd, 2021 at 5:30 AM", "./images/artist/artist-collection-2.jpg", "./images/artist/artist-collection-3.jpg","./images/artist/artist-collection-4.jpg", "./images/artist/artist-collection-5.jpg")
            +artistCollectionItem("ROCKY", " by A$AP Rocky", "Thursday, April 22nd, 2021 at 5:30 AM", "./images/artist/artist-collection-6.jpg", "./images/artist/artist-collection-7.jpg","./images/artist/artist-collection-8.jpg")
            +artistCollectionItem("ROCKY", " by A$AP Rocky", "Thursday, April 22nd, 2021 at 5:30 AM", "./images/artist/artist-collection-9.jpg", "./images/artist/artist-collection-10.jpg","./images/artist/artist-collection-11.jpg", "./images/artist/artist-collection-12.jpg")
            +artistCollectionItem("ROCKY", " by A$AP Rocky", "Thursday, April 22nd, 2021 at 5:30 AM", "./images/artist/artist-collection-13.jpg", "./images/artist/artist-collection-14.jpg")