section.artist-tab 
    .artist-tab--container 
        .artist-tab--list 
            .artist-tab--item(data-link="tab_collection") Collection (5)
            .artist-tab--item(data-link="tab_nfts").active NFTs (14)
        a(href="#").artist-tab--profile View artist’s profile