.activities-container {
  padding-top: 56px;
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.activities-top {
  display: flex;
  gap: 32px;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 1px solid #bdcadb;
}
.activities-top--title {
  color: #476285;
  font-size: 24px;
  font-weight: 400;
}
.activities-top--option {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid #bdcadb;
  border-radius: 12px;
  padding: 10px 16px;
  cursor: pointer;
  font-weight: 500;
  color: #11315b;
}
.activities-content {
  display: flex;
  gap: 40px;
  min-height: 150vh;
}
.activities-items {
  display: flex;
  width: 75%;
  gap: 12px;
  flex-direction: column;
}
.activities-item {
  display: flex;
  gap: 20px;
  min-height: 100px;
  padding: 12px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  border-radius: 12px;
}
.activities-item:nth-child(odd) {
  background: rgba(255, 255, 255, 0.6);
}
.activities-item:nth-child(even) {
  background: #f0f6ff;
}
.activities-item--img {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  object-fit: cover;
}
.activities-item--info {
  display: flex;
  gap: 20px;
}
.activities-item--type {
  padding: 2px 6px;
  font-size: 10px;
  font-weight: 500;
  color: white;
  display: inline-block;
  border-radius: 10px;
  background: #11315b;
  margin-bottom: 16px;
}
.activities-item--name {
  color: #11315b;
  font-size: 14px;
  font-weight: 500;
}
.activities-item--time {
  color: #9d9bb9;
  font-size: 12px;
  font-weight: 400;
}
.activities-item--btn {
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 12px;
  border: 2px solid #bdcadb;
  font-size: 14px;
  font-weight: 500;
  color: #11315b;
}
@media screen and (max-width: 767px) {
  .activities-container {
    padding-top: 30px;
    gap: 16px;
  }
  .activities-top--title {
    font-size: 20px;
  }
  .activities-top--option {
    font-size: 14px;
    padding: 8px 14px;
  }
  .activities-content {
    flex-direction: column;
  }
  .activities-items {
    width: unset;
  }
  .activities-item--type {
    font-size: 9px;
    margin-bottom: 8px;
  }
  .activities-item--name {
    font-size: 12px;
  }
  .activities-item--time {
    white-space: nowrap;
    font-size: 10px;
  }
  .activities-item--btn {
    font-size: 12px;
    white-space: pre;
  }
  .activities-item--info {
    gap: 10px;
  }
  .activities-item--img {
    width: 60px;
  }
}

.activities-filter {
  width: 25%;
}
.activities-filter--title {
  color: #476285;
  font-weight: 600;
  font-size: 18px;
  padding: 12px 0 16px 0;
}
.activities-filter--list {
  display: flex;
  gap: 12px 8px;
  flex-wrap: wrap;
  padding-bottom: 16px;
  width: 80%;
}
.activities-filter--item {
  padding: 8px 10px;
  border-radius: 12px;
  border: 1px solid #bdcadb;
  background: #fafcff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}
.activities-filter--form {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-top: 1px solid #bdcadb;
}
.activities-filter--search {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding: 12px 16px;
  border: 1px solid #bdcadb;
  border-radius: 12px;
  background: #fafcff;
  cursor: text;
  display: flex;
  gap: 10px;
  align-items: center;
}
.activities-filter--input {
  border: none;
  outline: none;
  width: 95%;
  background: #fafcff;
  color: #9d9bb9;
}
.activities-filter--input::placeholder {
  color: #9d9bb9;
  font-weight: 400;
  font-size: 14px;
}
.activities-filter--btn {
  width: 100%;
  color: #11315b;
  font-weight: 500;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 12px;
  background: #cde2fe;
  border: none;
  outline: none;
  cursor: pointer;
}
@media screen and (max-width: 1023px) {
  .activities-filter {
    width: 30%;
  }
  .activities-filter--list {
    width: unset;
  }
}
@media screen and (max-width: 767px) {
  .activities-filter {
    width: unset;
  }
  .activities-filter--item {
    font-size: 12px;
  }
  .activities-filter--title {
    font-size: 16px;
  }
  .activities-filter--input {
    font-size: 14px;
  }
  .activities-filter--input::placeholder {
    font-size: 14px;
  }
  .activities-filter--btn {
    font-size: 14px;
  }
}

.item-active {
  color: white;
  background: #11315b;
  border-color: #11315b;
}

.hide {
  display: none;
}