.filter-container {
  padding: 56px 0 24px 0;
  display: flex;
  gap: 12px;
  align-items: center;
  width: 100%;
  color: #476285;
}
.filter-btn {
  display: flex;
  gap: 10px;
  width: 9%;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding: 12px 16px;
  border: 1px solid #bdcadb;
  border-radius: 12px;
  background: #fafcff;
}
.filter-btn--icon, .filter-btn :where(.filter-text) {
  pointer-events: none;
}
.filter-reload, .filter-search, .filter-price, .filter-sort {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding: 12px 16px;
  border: 1px solid #bdcadb;
  border-radius: 12px;
  background: #fafcff;
}
.filter-price, .filter-search, .filter-sort, .filter-sort--select, .filter-sort--describe {
  display: flex;
  align-items: center;
}
.filter-price {
  gap: 10px;
}
.filter-sort {
  gap: 50px;
}
.filter-sort--select {
  gap: 10px;
}
.filter-sort--describe {
  gap: 5px;
}
.filter-search {
  cursor: text;
  gap: 10px;
  width: 40%;
}
.filter-search--input {
  border: none;
  outline: none;
  width: 95%;
  font-size: 14px;
  font-weight: 400;
  background: #fafcff;
}
.filter-search--input::placeholder {
  color: #9d9bb9;
  font-size: 14px;
  font-weight: 400;
}
.filter-listcustom {
  background: #cde2fe;
  border-radius: 12px;
  padding: 6px;
  display: flex;
  align-items: center;
}
.filter-listcustom--card {
  padding: 10px;
  cursor: pointer;
}
.filter-listcustom--active {
  background: white;
  border-radius: 10px;
}
@media screen and (max-width: 1023px) {
  .filter-container {
    flex-wrap: wrap;
  }
  .filter-btn {
    display: none;
  }
  .filter-search {
    width: 90%;
  }
}
@media screen and (max-width: 767px) {
  .filter-search {
    width: 80%;
  }
  .filter-reload, .filter-search, .filter-price, .filter-sort {
    font-size: 12px;
  }
  .filter-listcustom {
    display: none;
  }
  .filter-search--input {
    font-size: 12px;
  }
  .filter-search--input::placeholder {
    font-size: 12px;
  }
}

.result-top {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.result-top--total, .result-top--update {
  display: flex;
  gap: 4px;
}
.result-top--text {
  color: #11315b;
  font-weight: 500;
}
.result-top--quantity {
  color: #64609f;
  font-weight: 400;
}
.result-list {
  display: flex;
  gap: 40px;
  width: 100%;
  align-items: flex-start;
}
.result-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  position: relative;
}
.result-item {
  width: calc(25% - 18px);
  min-height: 400px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  box-shadow: 0px 0px 0.5px 0px rgba(13, 15, 17, 0.1) inset, 6px 12px 24px 0px rgba(102, 146, 204, 0.08);
  padding: 16px;
}
.result-item--top {
  width: 100%;
  height: 250px;
  margin-bottom: 24px;
}
.result-item--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.result-item--info {
  margin-bottom: 12px;
}
.result-item--collection, .result-item--text, .result-item--other {
  font-size: 12px;
  color: #9d9bb9;
  font-weight: 400;
}
.result-item--desc {
  color: #11315b;
  font-weight: 600;
}
.result-item--name {
  color: #11315b;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.result-item--more {
  display: flex;
  justify-content: space-between;
  background: rgba(160, 160, 214, 0.1);
  border-radius: 16px;
  padding: 8px 10px;
}
.result-list {
  padding-bottom: 200px;
}
@media screen and (max-width: 1023px) {
  .result-item {
    width: calc(33.3333333333% - 16px);
  }
  .result-items {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .result-top {
    font-size: 14px;
  }
  .result-item {
    width: 100%;
  }
  .result-item--top {
    margin-bottom: 12px;
  }
  .result-item--collection, .result-item--text, .result-item--other {
    font-size: 10px;
  }
  .result-item--name, .result-item--desc {
    font-size: 14px;
  }
}

.change-style {
  width: 80%;
}

.change-background {
  background: rgba(215, 214, 220, 0.2);
}

.tab-text, .tab-icon {
  pointer-events: none;
}
.tab-icon {
  transition: all 0.5s ease-in-out;
}
.tab-filter {
  width: 20%;
  display: none;
  animation: unchangeWidth 0.9s;
}
.tab-borderbottom {
  border-bottom: 1px solid #bdcadb;
}
.tab-explore {
  padding-top: 12px;
  padding-bottom: 16px;
  display: flex;
  gap: 18px;
  align-items: center;
  cursor: pointer;
  width: 100%;
}
.tab-explore--item {
  display: flex;
  gap: 12px;
  align-items: center;
}
.tab-explore--text {
  font-size: 12px;
  font-weight: 400;
  color: #9d9bb9;
}
.tab-explore--name {
  font-weight: 500;
  font-size: 14px;
  color: #11315b;
}
.tab-explore--img {
  flex-shrink: 0;
}
.tab-text {
  font-size: 18px;
  color: #476285;
  font-weight: 600;
}
.tab-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px 0 16px 0;
  cursor: pointer;
}
.tab-icon {
  color: #476285;
}
.tab-status--content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 16px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.tab-status--item {
  padding: 8px 10px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #6e84ab;
  border: 1px solid #bdcadb;
  background: #fafcff;
  cursor: pointer;
}
.tab-status--item.tab-item--active {
  border-color: #11315b;
  background: #11315b;
  color: white;
}
.tab-price--content {
  display: flex;
  gap: 16px;
  width: 100%;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.tab-price--select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding: 12px 16px;
  border: 1px solid #bdcadb;
  border-radius: 12px;
  background: #fafcff;
}
.tab-price--text {
  color: #476285;
}
.tab-price--options {
  display: flex;
  gap: 8px;
  color: #476285;
  font-weight: 500;
  align-items: center;
  font-size: 16px;
}
.tab-price--between {
  display: flex;
  gap: 10px;
  align-items: center;
}
.tab-price--input {
  width: calc(50% - 20px);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding: 12px 16px;
  border: 1px solid #bdcadb;
  border-radius: 12px;
  background: #fafcff;
  outline: none;
  cursor: text;
  color: #9d9bb9;
}
.tab-price--input::placeholder {
  color: #9d9bb9;
}
.tab-price--btn {
  outline: none;
  padding: 12px 16px;
  background: #e9ecf2;
  border: none;
  border-radius: 12px;
  color: #11315b;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}
.tab-type--content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 16px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  max-height: 0;
}
.tab-type--item {
  padding: 8px 10px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #6e84ab;
  border: 1px solid #bdcadb;
  background: #fafcff;
  cursor: pointer;
}
.tab-type--item.tab-item--active {
  border-color: #11315b;
  background: #11315b;
  color: white;
}
.tab-option--content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  max-height: 0;
}
.tab-option--checkbox {
  display: flex;
  align-items: center;
  vertical-align: bottom;
}
.tab-option--input {
  display: none;
}
.tab-option--label {
  position: relative;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  vertical-align: bottom;
}
.tab-option--label::before {
  content: "";
  border: 1px solid #476285;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  cursor: pointer;
  margin-right: 5px;
}
.tab-option--input:checked ~ .tab-option--label:after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  border-top-left-radius: 5px;
  transform: rotate(45deg);
}
.tab-option--input:checked ~ .tab-option--label:before {
  background: #476285;
}
.tab-collection--content {
  display: flex;
  gap: 12px;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  max-height: 0;
}
.tab-collection--result {
  background: #e9ecf2;
  display: flex;
  gap: 60px;
  align-items: center;
  padding: 8px;
  border-radius: 12px;
}
.tab-collection--author {
  display: flex;
  gap: 12px;
}
.tab-collection--img {
  width: 40px;
  height: 40px;
  border-radius: 12px;
}
.tab-collection--name {
  color: #11315b;
  font-size: 14px;
  font-weight: 500;
}
.tab-collection--floor {
  color: #64609f;
  font-size: 12px;
  font-weight: 400;
}
.tab-collection--icon {
  object-fit: cover;
  cursor: pointer;
}
.tab-collection--search {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding: 12px 16px;
  border: 1px solid #bdcadb;
  border-radius: 12px;
  background: #fafcff;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: text;
}
.tab-collection--input {
  border: none;
  outline: none;
  width: 100%;
  background: #fafcff;
  color: #9d9bb9;
}
.tab-collection--input::placeholder {
  color: #9d9bb9;
}
.tab-property--top {
  display: flex;
  padding: 12px 0 16px 0;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.tab-property--more {
  display: flex;
  gap: 5px;
  align-items: center;
}
.tab-property--subicon, .tab-property--number, .tab-property--label, .tab-property--quantity {
  font-size: 14px;
  font-weight: 400;
}
.tab-property--subicon {
  transition: all 0.3s ease-in-out;
}
.tab-property--content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  max-height: 0;
}
.tab-property--item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab-show {
  max-height: unset;
  margin-bottom: 16px;
}

.show-tab {
  display: flex;
  flex-direction: column;
  gap: 16px;
  animation: changeWidth 0.9s;
}

.change-icon {
  transform: rotate(180deg);
}

@keyframes changeWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}
@keyframes unchangeWidth {
  100% {
    width: 20%;
  }
  0% {
    width: 0%;
  }
}