section.connect 
    .connect-container 
        .connect-img 
            a(href="index.html").connect-logo 
                img(src="./images/Logo/Logo.png", alt="")
            .connect-info 
                .connect-author by Noah
                .connect-name NFT name Ex Shiba Astronaut
        .connect-wallet 
            .connect-text 
                .connect-title Connect wallet
                .connect-desc Connect with one of our available wallet providers or create a new one.
            .connect-content 
                .connect-tab 
                    .connect-tab--item Bitcoin
                    .connect-tab--item.active Ethereum <span>112</span>
                    .connect-tab--item Solana <span>12</span>
                    .connect-tab--item Tezos
                    .connect-tab--item Polygon
                .connect-btns 
                    .connect-social
                        a(href="#").connect-social--item 
                            .connect-social--info 
                                img(src="./images/icons/meta_mask.png", alt="")
                                span MetaMask
                            .connect-social--popular Popular
                        a(href="#").connect-social--item 
                            .connect-social--info 
                                img(src="./images/icons/glow 1.png", alt="")
                                span Coinbase Wallet
                        a(href="#").connect-social--item 
                            .connect-social--info 
                                img(src="./images/icons/phantom 1.png", alt="")
                                span WalletConnect
                        a(href="#").connect-social--item 
                            .connect-social--info 
                                img(src="./images/icons/venly 1.png", alt="")
                                span Phantom
                    .connect-btn Show more
    include ../sign-up/container