section.user-banner 
    .user-banner--container 
        .user-banner--bg 
            img(src="./images/icons/more-vertical.png", alt="").user-banner--icon
            .user-banner--content 
                .user-banner--info 
                    .user-banner--avatar     
                        img(src="./images/home/trending-4.jpg", alt="").user-banner--img
                        img(src="./images/icons/check.png", alt="").user-banner--check
                    .user-banner--more
                        .user-banner--name A$AP Rocky
                        .user-banner--someone @0xogpassby0xstudio
                .user-banner--contact
                    .user-banner--social twitter: ascac
                    .user-banner--social insta: @agsastda
                    .user-banner--address 
                        .user-banner--text: <span>Address:</span>  0xogpassby0xstudio
                        i.far.fa-clone.user-banner--copy 