section.user-follow 
    .user-follow--container 
        .user-follow--item
            i.fas.fa-check
            .user-follow--text Followed 
        .user-follow--item
            i.far.fa-envelope
            .user-follow--text Message 
        .user-follow--item.user-follow--dots 
            .user-follow--dot
            .user-follow--dot
            .user-follow--dot
        .user-follow--item 
            i.far.fa-paper-plane.user-follow--send