section.user-tab 
    .user-tab--container 
        .user-tab--list 
            .user-tab--item On Sales 
            .user-tab--item.tab-active Owned <span>112</span>
            .user-tab--item Sold <span>12</span>
            .user-tab--item Liked 
            .user-tab--item Activities 
            .user-tab--item Followers 
            .user-tab--item Following 
