section.navtab 
    .navtab-container 
        .navtab-title Marketplace
        .navtab-list 
            .navtab-item.navtab-artist(data-link="artist").navtab-active 
                .navtab-artist--text 2,500+ Artists
            .navtab-item.navtab-collection(data-link="collection")
                .navtab-collection--text 1,700,000+ Collections 
