section.recent-collection
    .recent-collection--container 
        .verified-artist--top 
            .verified-artist--title Recent Collections
            .autions-top--right
                .autions-top--btn 
                    .autions-top--arrow#left.action--btn
                        i.fal.fa-arrow-left
                    .autions-top--arrow#right
                        i.fal.fa-arrow-right
        .recent-collection--items 
            .recent-collection--list 
                +recentCollectionItem("./images/marketplace/collection-1.jpg", "This is the collection name - NFT Name", "@Someone")
                +recentCollectionItem("./images/marketplace/collection-2.jpg", "This is the collection name - NFT Name", "@Someone")
                +recentCollectionItem("./images/marketplace/collection-3.jpg", "This is the collection name - NFT Name", "@Someone")
                +recentCollectionItem("./images/marketplace/collection-4.jpg", "This is the collection name - NFT Name", "@Someone")
                +recentCollectionItem("./images/marketplace/collection-5.jpg", "This is the collection name - NFT Name", "@Someone")
                +recentCollectionItem("./images/marketplace/collection-6.jpg", "This is the collection name - NFT Name", "@Someone")
                +recentCollectionItem("./images/marketplace/collection-7.jpg", "This is the collection name - NFT Name", "@Someone")
                +recentCollectionItem("./images/marketplace/collection-8.jpg", "This is the collection name - NFT Name", "@Someone")