section.verified-artist
    .verified-artist--container 
        .verified-artist--top 
            .verified-artist--title Recent Verified Artists
            .autions-top--right
                .autions-top--btn 
                    .autions-top--arrow#left.action--btn
                        i.fal.fa-arrow-left
                    .autions-top--arrow#right
                        i.fal.fa-arrow-right
        .verified-artist--items 
            .verified-artist--list 
                +topArtistItem("1","./images/marketplace/verified-artist-1.jpg","Phuong Pham", "2,798","Follow by mikain and 2,129 users" )
                +topArtistItem("2","./images/marketplace/verified-artist-2.jpg","Phuong Pham", "2,798","Follow by mikain and 2,129 users" )
                +topArtistItem("3","./images/marketplace/verified-artist-3.jpg","Phuong Pham", "2,798","Follow by mikain and 2,129 users" )
                +topArtistItem("4","./images/marketplace/verified-artist-4.jpg","Phuong Pham", "2,798","Follow by mikain and 2,129 users" )