section.app 
    .app-container 
        .app-bg 
            .app-bg--left 
                .app-bg--desc <strong class="app-bg--strong"> Download MyNFTs app </strong> to track your NFT portfolio and discover drops
                .app-bg--buttons 
                    .app-bg--btn 
                        i.fab.fa-apple
                        span App Store
                    .app-bg--btn 
                        i.fab.fa-google 
                        span Google play
            img(src="./images/home/app-1.png").app-bg--center 
            .app-bg--right
                img(src="./images/home/app-2.png").app-bg--qr 
                .app-bg--detail 
                    i.fal.fa-arrow-left 
                    span Scan to download MyNFT app