section.artist 
    .artist-container 
        .autions-top 
            .autions-top--left 
                .popular--title Top Artists
                .autions-top--select 
                    .autions-top--desc Music
                    i.fa.fa-chevron-down
            .autions-top--right
                .autions-top--all See all
        .artist-items 
            .artist-list 
                +artistItem("1","./images/home/artist-avatar-1.jpg","Phuong Pham", "2,798","Follow by mikain and 2,129 users" )
                +artistItem("2","./images/home/artist-avatar-2.jpg","Blake Kathryn", "2,798","Follow by mikain and 2,129 users" )
                +artistItem("3","./images/home/artist-avatar-3.jpg","Dania India", "2,798","Follow by mikain and 2,129 users" )
            .artist-list 
                +artistItem("4","./images/home/artist-avatar-4.jpg","Xsullo Studio", "2,798","Follow by mikain and 2,129 users" )
                +artistItem("5","./images/home/artist-avatar-5.jpg","Stefan Gro Halbuer", "2,798","Follow by mikain and 2,129 users" )
                +artistItem("6","./images/home/artist-avatar-6.jpg","Nyumori", "2,798","Follow by mikain and 2,129 users" )