include ../header
.banner 
	.banner-container 
		.banner-info 
			.banner-info--title Discover, collect, and sell extraordinary NFTs
			.banner-info--desc Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
			.banner-info--btn   
				.banner-info--text Explore now
				.banner-info--icon 
					i.fa.fa-arrow-right
		.banner-nft 
			.banner-nft--img 
				img(src="./images/home/banner img.png", alt="")


				