section.category 
    .category-container 
        .category-top 
            .category-top--title Browse by category
        .category-items 
            .category-list
                +categoryItem("./images/home/category-1.jpg", "./images/home/category-2.jpg", "./images/home/category-3.jpg", "ART", "28 items")
                +categoryItem("./images/home/category-4.jpg", "./images/home/category-5.jpg", "./images/home/category-6.jpg", "Music", "28 items")
                +categoryItem("./images/home/category-7.jpg", "./images/home/category-8.jpg", "./images/home/category-8.jpg", "Collectibles", "28 items")
                +categoryItem("./images/home/category-9.jpg", "./images/home/category-10.jpg", "./images/home/category-11.jpg", "Photograhpy", "28 items")
            .category-list
                +categoryItem("./images/home/category-12.jpg", "./images/home/category-13.jpg", "./images/home/awkward-astronauts.jpg", "Trading card", "28 items")
                +categoryItem("./images/home/trending-4.jpg", "./images/home/category-14.jpg", "./images/home/category-15.jpg", "Utility", "28 items")
                +categoryItem("./images/home/category-6.jpg", "./images/home/category-16.jpg", "./images/home/category-17.jpg", "Sport", "28 items")
                +categoryItem("./images/home/trending-4.jpg", "./images/home/category-18.jpg", "./images/home/category-19.jpg", "Virtual world", "28 items")