.container 
    include ./hot-autions
    include ./popular
    include ./artists
    include ./trending
    include ./list
    include ./category
    include ./marketplace
    include ./youtube
    include ./sell
    include ./app