section.autions
    .autions-container 
        .autions-top 
            .autions-top--left 
                .autions-top--title Hot Autions
                .autions-top--select 
                    .autions-top--desc Ethereum
                    i.fa.fa-chevron-down
            .autions-top--right
                .autions-top--all See all
                .autions-top--btn 
                    .autions-top--arrow#left.action--btn
                        i.fal.fa-arrow-left
                    .autions-top--arrow#right
                        i.fal.fa-arrow-right
        .autions-items 
            .autions-list
                +autionsItem("./images/home/img-ex-shiba.png", "Collection name", "NFT name Ex Shiba Astronaut", "./images/home/artist.gif", "Artist name", "12121")
                +autionsItem("./images/home/img-ex-shiba-2.png", "Collection name", "NFT name Ex Shiba Astronaut", "./images/home/artist.gif", "Artist name", "12121")
                +autionsItem("./images/home/img-ex-shiba-3.png", "Collection name", "NFT name Ex Shiba Astronaut", "./images/home/artist.gif", "Artist name", "12121")
                +autionsItem("./images/home/img-ex-shiba-4.png", "Collection name", "NFT name Ex Shiba Astronaut", "./images/home/artist.gif", "Artist name", "12121")
                