section.list 
    .list-container 
        .list-left 
            .list-left--card.list-left--bottom
                img(src="./images/home/brellias.jpg").list-left--img 
                .list-left--name Brellias
                .list-left--job Art Director
            .list-left--card.list-left--top
                img(src="./images/home/awkward-astronauts.jpg").list-left--img 
                .list-left--name Awkward Astronauts
                .list-left--job Aditional info
        .list-right
            .list-right--title List your art on MyNFT
            .list-right--desc Are you an artist or NFT project creator? Get in touch with us to get your content on Nifty Gateway!
            .list-right--btn 
                .list-right--artist I am an artist
                .list-right--buyer 
                    .list-right--bg 
                        .list-right--text I am a buyer