section.marketplace 
    .marketplace-container 
        .marketplace-left 
            .marketplace-left--title The Premier Marketplace for NFTs
            .marketplace-left--desc MyNFT is the premier marketplace for item in blockchain, which are digital items you can truly own. Digital Items have existed for a long time, but never like this.
            .marketplace-left--btn Learn more
        .marketplace-right 
            img(src="./images/home/marketplace-1.jpg").marketplace-right--imgleft 
            img(src="./images/home/marketplace-2.jpg").marketplace-right--top 
            img(src="./images/home/marketplace-3.jpg").marketplace-right--bottom
