section.sell 
    .sell-container 
        .sell-top 
            .sell-top--title Create and Sell your NFTs
        .sell-list
            +sellItem("./images/icons/Wallet.png", "Set up your wallet", "Choose between auctions, fixed-price listings, and declining-price listings. We will help to sell your NFTs!")
            +sellItem("./images/icons/Category.png", "Create your collection", "Set up your collection. Add social links, a description, profile & banner images, and set a secondary sales fee.")
            +sellItem("./images/icons/Image.png", "Add your NFTs", "Upload your work (image, video, audio, or 3D art), add a title and description, properties, and unlockable content.")
            +sellItem("./images/icons/Send.png", "List them for sale", "Choose between auctions, fixed-price listings, and declining-price listings. We will help to sell your NFTs!")