section.youtube 
    .youtube-container 
        .youtube-bg 
            .youtube-bg--left  
                .youtube-bg--title Why MyNFT
                .youtube-bg--desc Are you an artist or NFT project creator? Get in touch with us to get your content on Nifty Gateway!
                .youtube-bg--btn 
                    span Explore the marketplace 
                    i.fal.fa-arrow-right
            .youtube-video
                .youtube-video--title 
                    img(src="./images/logo/Logo.png").youtube-video--logo 
                    .youtube-video--name  Why MyNFT? | The NFT marketplace with everything for everyone
                img(src="./images/icons/ic-play.png").youtube-video--play 
                .youtube-video--sign
                    .youtube-video--text Watch on
                    img.youtube-video--icon(src="./images/icons/ic-ytb.png") 
                    span YouTube

