.footer {
  min-height: 50px;
  padding: 32px 120px 64px 120px;
  color: #bdcadb;
  background: url("../../images/banner/Noise.png") #21204a;
  mix-blend-mode: overlay;
  &-container {
    padding: 32px 0;
    flex-direction: row;
    display: flex;
    // align-items: flex-start;
    justify-content: space-between;
  }
  &-details {
    width: 25%;
    &--logo {
      display: flex;
      align-items: center;
      gap: 10px;
      padding-bottom: 20px;
      & span {
        font-size: 24px;
        font-weight: 600;
        color: #fafcff;
      }
    }
    &--text {
      color: #bdcadb;
      font-size: 14px;
      font-weight: 400;
    }
  }
  &-list {
    width: 60%;
    display: flex;
    gap: 70px;
    &--contact {
      width: 60%;
      display: flex;
      gap: 40px;
      flex-direction: column;
    }
    &--text {
      font-size: 16px;
      color: #f0f6ff;
      font-weight: 600;
      margin-bottom: 20px;
    }
    &--email {
      width: 100%;
      position: relative;
      border-radius: 12px;
      background: rgba(215, 214, 220, 0.2);
      display: flex;
      align-items: center;
      padding: 12px 12px;
      gap: 10px;
    }
    &--input {
      border: none;
      outline: none;
      background: transparent;
      color: currentColor;
      font-size: 14px;
      font-weight: 400;
      &::placeholder {
        color: currentColor;
        font-size: 14px;
        font-weight: 400;
      }
    }
    &--btn {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      padding: 8px 15px;
      border-radius: 8px;
      background: #cde2fe;
      color: #11315b;
      font-size: 14px;
      font-weight: 500;
      border: none;
      outline: none;
      cursor: pointer;
    }
    &--socials {
      display: flex;
      gap: 16px;
    }
  }
  &-menu {
    display: flex;
    // align-items: center;
    flex-direction: column;
    font-size: 16px;
    font-weight: 600;
    color: #f0f6ff;
    gap: 16px;
    width: 20%;

    &--item {
      font-size: 14px;
      font-weight: 400;
      color: #bdcadb;
    }
  }
  @media screen and (max-width: 1023px) {
    padding: 16px 60px 32px 60px;
    &-container {
      flex-wrap: wrap;
      gap: 30px;
    }
    &-details,
    &-list {
      width: 100%;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 10px 30px 20px 30px;
    &-list {
      flex-wrap: wrap;
      gap: 30px;
      &--contact {
        width: 100%;
      }
      &--text {
        font-size: 14px;
      }
      &--input {
        font-size: 12px;
        &::placeholder {
          font-size: 12px;
        }
      }
      &--btn {
        padding: 7px 14px;
        font-size: 12px;
      }
    }
    &-menu {
      width: 40%;
      font-size: 14px;
      gap: 8px;
    }
    &-details {
      &--text {
        font-size: 12px;
      }
    }
  }
}
