.user-follow {
  &--container {
    padding-top: 36px;
    display: flex;
    gap: 16px;
    align-items: center;
  }
  &--item {
    display: -webkit-inline-box;
    gap: 8px;
    align-items: center;
    padding: 10px 16px;
    background: #cde2fe;
    border-radius: 12px;
    cursor: pointer;
  }
  &--dots {
    gap: 2px;
    padding: 20px 16px;
  }
  &--dot {
    width: 4px;
    height: 4px;
    background: #476285;
    border-radius: 50%;
  }
}
