.user-tab--container {
  padding-top: 24px;
}
.user-tab--list {
  display: flex;
  gap: 24px;
  align-items: center;
  border-bottom: 1px solid #bdcadb;
}
.user-tab--item {
  padding: 12px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #8395af;
  cursor: pointer;
  font-weight: 500;
  gap: 4px;
}
.user-tab--item span {
  font-size: 10px;
  color: #476285;
  font-weight: 400;
  padding: 0 4px;
  background: #e9ecf2;
  border-radius: 4px;
}

.tab-active {
  color: #11315b;
  border-bottom: 2px solid #11315b;
}
.tab-active span {
  background: #11315b;
  color: white;
}