.error-404 {
  &--container {
    padding: 56px 0 170px 0;
    display: flex;
    align-items: center;
    gap: 50px;
    // height: 600px;
  }
  &--img {
    padding: 16px;
    border-radius: 16px;
    width: 60%;

    background: rgba(255, 255, 255, 0.6);
    & > img {
      border-radius: 14px;
    }
  }
  &--info {
    width: 40%;
    text-align: center;
  }
  &--title {
    background: linear-gradient(to left, #0698f9 40%, #f906f9 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 128px;
    font-weight: 600;
  }
  &--text {
    color: #451254;
    font-size: 32px;
    font-weight: 600;
  }
  &--desc {
    color: #6e84ab;
    margin: 24px 0;
  }
  &--btn {
    padding: 12px 16px;
    border-radius: 12px;
    color: white;
    background: linear-gradient(214deg, #0698f9 0%, #f906f9 100%);
    transition: 0.5s;
    background-size: 130% auto;
    display: inline-block;
    &:hover {
      background-position: right center;
    }
  }
  @media screen and (max-width: 1023px) {
    &--container {
      flex-direction: column;
      gap: 30px;
    }
    &--img,
    &--info {
      width: 100%;
    }
  }
  @media screen and (max-width: 767px) {
    &--container {
      gap: 10px;
    }
    &--title {
      font-size: 64px;
    }
    &--text {
      font-size: 16px;
    }
    &--desc,
    &--btn {
      font-size: 12px;
    }
  }
}
