.signup 
    .signup-overlay 
    .signup-container 
        .signup-title You are almost there!
        .signup-desc Choose a display name and enter your email address to receive updates when your NFTs sell or receive offers
        .signup-form 
            input(type="text", placeholder="Display name").signup-form--input
            input(type="text", placeholder="Your email").signup-form--input
            .signup-form--checkbox 
                input(type="checkbox")#check
                label(for="check") I have read and accept the Term of serviece and confirm that I am at least 13 years old
            button.signup-form--finish Finish sign-up
            .signup-form--disconnect Disconnect
        