section.result 
    .result-container 
            .result-top
                .result-top--total 
                    .result-top--text Total: 
                    .result-top--quantity 2,789 items
                .result-top--update
                    .result-top--text Last update: 
                    .result-top--quantity 3 min ago
            .result-list
                include ./tab_filter
                .result-items 
                    +nftsItem("./images/all_nfts/all-nfts-1.jpg", "Price", "1.0 ETH", "$130,729.12", "Best offers", " 4hrs left")
                    +nftsItem("./images/all_nfts/all-nfts-2.jpg", "Price", "1.0 ETH", "$130,729.12", "Best offers", " 4hrs left")
                    +nftsItem("./images/all_nfts/all-nfts-3.jpg", "Price", "1.0 ETH", "$130,729.12", "Best offers", " 4hrs left")
                    +nftsItem("./images/all_nfts/all-nfts-4.jpg", "Price", "1.0 ETH", "$130,729.12", "Best offers", " 4hrs left")
                    +nftsItem("./images/all_nfts/all-nfts-5.jpg", "Price", "1.0 ETH", "$130,729.12", "Best offers", " 4hrs left")
                    +nftsItem("./images/all_nfts/all-nfts-6.jpg", "Price", "1.0 ETH", "$130,729.12", "Best offers", " 4hrs left")
                    +nftsItem("./images/all_nfts/all-nfts-7.jpg", "Price", "1.0 ETH", "$130,729.12", "Best offers", " 4hrs left")
                    +nftsItem("./images/all_nfts/all-nfts-8.jpg", "Price", "1.0 ETH", "$130,729.12", "Best offers", " 4hrs left")
                    +nftsItem("./images/all_nfts/all-nfts-9.jpg", "Price", "1.0 ETH", "$130,729.12", "Best offers", " 4hrs left")
                    +nftsItem("./images/all_nfts/all-nfts-10.jpg", "Price", "1.0 ETH", "$130,729.12", "Best offers", " 4hrs left")
                    +nftsItem("./images/all_nfts/all-nfts-11.jpg", "Price", "1.0 ETH", "$130,729.12", "Best offers", " 4hrs left")
                    +nftsItem("./images/all_nfts/all-nfts-12.jpg", "Price", "1.0 ETH", "$130,729.12", "Best offers", " 4hrs left")
                    .explore-artist--loading 
                        i.fas.fa-spinner.explore-artist--loading--icon 
                        .explore-artist--loading--text Loading