header.header 
  .header-logo 
    img(src="./images/Logo/Logo.png").header-img
  .header-list 
    //- i.fas.fa-bars.header-navbar
    .header-menu
      .header-menu--list 
        a(href="index.html").header-menu--item Home 
        a(href="marketplace.html").header-menu--item Market Place
          //- .header-menu--submenu 
          //-   a(href="").header-menu--subitem
          //-   a(href="").header-menu--subitem  
        a(href="all_nfts.html").header-menu--item All NFTs
        a(href="activities.html").header-menu--item Activities
      .header-menu--dots 
        span.header-menu--dot
        span.header-menu--dot
        span.header-menu--dot
      i.fa.fa-search.header-menu--search
      .header-menu--btn
        span.header-menu--desc Connect wallet
