.collection-content--container {
  padding: 36px 0;
}
.collection-content--top {
  display: flex;
  gap: 60px;
  align-items: flex-start;
}
.collection-content--info {
  width: 85%;
}
.collection-content--title {
  font-size: 32px;
  font-weight: 600;
  color: #21204a;
}
.collection-content--title span {
  background: linear-gradient(214deg, #0698f9 0%, #f906f9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.collection-content--desc {
  font-size: 14px;
  font-weight: 400;
  color: #9d9bb9;
}
.collection-content--desc span {
  color: #476285;
  font-weight: 500;
}
.collection-content--watch {
  padding: 10px 16px;
  white-space: pre;
  cursor: pointer;
  border-radius: 12px;
  border: 2px solid #bdcadb;
  color: #11315b;
  font-weight: 500;
}