.banner {
  min-height: 50vh;
  background: url("../../images/banner/Noise.png") #21204a;
}
.banner-container {
  color: #bdcadb;
  padding: 0 120px;
  display: flex;
  align-items: center;
}
.banner-info {
  width: 40%;
  padding-top: 76px;
}
.banner-info--title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  color: white;
  padding-bottom: 20px;
}
.banner-info--desc {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 40px;
}
.banner-info--btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(214deg, #0698f9 0%, #f906f9 100%);
  padding: 8px 5px 8px 15px;
  border-radius: 12px;
  width: 40%;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  background-size: 130% auto;
}
.banner-info--btn:hover {
  background-position: right center;
}
.banner-info--text {
  font-size: 18px;
  font-weight: 500;
}
.banner-info--icon {
  color: black;
  border-radius: 12px;
  background: white;
  padding: 10px 15px;
}
.banner-nft {
  width: 60%;
  position: relative;
  height: 100%;
}
.banner-nft--img {
  position: absolute;
  top: -170px;
}