.artist-list--info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: center;
}
.artist-list--name {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  gap: 5px;
}
.artist-list--text {
  background: linear-gradient(214deg, #0698f9 0%, #f906f9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.artist-list--author {
  color: #21204a;
}
.artist-list--datetime {
  font-size: 14px;
}
.artist-list--list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.artist-list--gallery4, .artist-list--gallery3, .artist-list--gallery2 {
  display: flex;
  width: 100%;
  gap: 3px;
  height: 228px;
  align-items: center;
  border-radius: 12px;
}
.artist-list--img {
  height: 100%;
  object-fit: cover;
}
.artist-list--img:first-child {
  border-radius: 12px 0 0 12px;
}
.artist-list--img:last-child {
  border-radius: 0 12px 12px 0;
}
.artist-list--gallery4 > .artist-list--img {
  width: 25%;
}
.artist-list--gallery4 > .artist-list--img:last-child {
  position: relative;
}
.artist-list--gallery4 > .artist-list--img:last-child > .artist-list--desc {
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px 44px;
  text-align: center;
  gap: 12px;
  background: rgba(21, 40, 67, 0.7);
  border-radius: 0 12px 12px 0;
  font-size: 12px;
  font-weight: 500;
}
.artist-list--gallery4 > .artist-list--img:last-child > .artist-list--desc span {
  font-size: 32px;
  font-weight: 600;
}
.artist-list--gallery4 > .artist-list--img:last-child > img {
  width: 100%;
  border-radius: 0 12px 12px 0;
  height: 100%;
}
.artist-list--gallery3 > .artist-list--img {
  width: 33.3333333333%;
}
.artist-list--gallery2 > .artist-list--img {
  width: 50%;
}
.artist-list--more {
  display: none;
}
.artist-list--gallery {
  position: relative;
  height: 228px;
  width: 100%;
}
.artist-list--gallery:hover .artist-list--more {
  width: 100%;
  height: 100%;
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  background: rgba(21, 40, 67, 0.7);
  border-radius: 12px;
  color: white;
}
.artist-list--gallery:hover .artist-list--more > .artist-list--btn {
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid white;
  font-size: 18px;
  font-weight: 500;
  background: #21204a;
}