section.collection-banner 
    .collection-banner--container 
        .collection-banner--bg 
            img(src="./images/icons/more-vertical.png", alt="").collection-banner--icon
            .collection-banner--content 
                .collection-banner--info 
                    .collection-banner--img     
                        img(src="./images/home/trending-4.jpg", alt="")
                    .collection-banner--more
                        .collection-banner--name Thena
                        .collection-banner--someone by <span>@someone</span>
                        .collection-banner--updated
                            i.fal.fa-clock 
                            span  Listed on Thursday, April 22nd, 2021
                .collection-banner--list
                    .collection-banner--item 
                        .collection-banner--text 7.5 K 
                        .collection-banner--desc items
                    .collection-banner--item 
                        .collection-banner--text 102
                        .collection-banner--desc Owners
                    .collection-banner--item 
                        .collection-banner--text 0.012 ETH 
                        .collection-banner--desc Floor price
                    .collection-banner--item 
                        .collection-banner--text 3.9 ETH 
                        .collection-banner--desc Volume traded